{% extends 'BlogApp/base.html' %} {% block content %} {% for post in posts %}
<div class="card mb-4">
  
  <div class="card-header ">
    <h2>
    <img
    class="rounded-circle article-img m-2"
    src="{{post.author.profile.image.url}}"
  />
  
   By {{post.author}}
  </h2>

  <p class="card-text"> Date {{post.date_posted |date:"F d, Y"}} At {{post.date_posted|time:'H:i A'}}</p></div>
  <div class="card-body">
    <h4 class="card-title">
      {{post.title}} 
    </h4>
    <p class="card-text">
      {{post.content}}.<br />
      <div class="d-flex mr-2">
        <a href="{% url 'post-detail' post.id %}" class="card-link">ReadMore</a>
        <a href="{% url 'add-comment' post.id %}" class="card-link">Add Comment</a>
      </div>
    </p>
  </div>
</div>
{% endfor %} {% endblock content %}
